{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br><br>
    <div class="jumbotron jumbotron">
      <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1 class="display-4">Welcome to Digital Business Technology Group</h1>
        <p class="lead"><h2>ยินดีต้อนรับสู่การเรียนรู้ หลักสูตรเทคโนโลยีธุรกิจดิจิทัล มทร.อีสาน วิทยาเขตขอนแก่น</h2>
          หลักสูตรการเรียนรู้ที่มุ่งสู่การเป็นนักปฏิบัติวิชาชีพ ด้วยทักษะทางด้านการพัฒนาโปรแกรม การออกแบบระบบจัดการฐานข้อมูล การออกแบบและพัฒนาเว็บไซต์ในระบบงานธุรกิจ
          การพัฒนาเทคโนโลยี IOT การประยุกต์ใช้เครื่องมือสำหรับการสนับสนุนองค์กรอัจฉริยะ และการวิเคราะห์ข้อมูลขนาดใหญ่
        </p>
      </div>
    <div>
        <br>
        <p class="text-center">
            <img src="{% static '/images/dbt.png' %}" width="250px" height="150px">
            <img src="{% static '/images/dbt.png' %}" width="250px" height="150px">
            <img src="{% static '/images/dbt.png' %}" width="250px" height="150px">

        </p>
    </div>
    </div>
{% endblock %}