{% load static %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'stylesheets/bt502/css/bootstrap.css' %}">
    <script src="{% static 'stylesheets/bt502/js/bootstrap.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'stylesheets/layout/scripts/jquery.min.js'%}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>ตัวอย่างรายงานภาษาไทย</title>
</head>
<body>
    <h1 align="center">
        ตัวอย่างการออกรายงาน ด้วย xhtml2pdf
    </h1>
    <h2 align="center">
        ออกรายงานให้รองรับการแสดงผลภาษาไทย
    </h2>
    <hr align="center" width="300">
    <p>
        <h2 class="text-center text-success">อย่ากลัวความล้มเหลว</h2>
        พระพุทธเจ้าท่านทรงตรัสไว้ว่า “สรรพสิ่งล้วนไม่เที่ยงแท้และแน่นอน อย่าประมาทในการใช้ชีวิต”
        ดังนั้นหากใครกลัวความล้มเหลว ก็แสดงว่าคนคนนั้นยังไม่เคยเจอความล้มเหลวมากพอ
        และไม่เข้าใจสัจธรรมข้อนี้มากพอ จึงหวังที่จะพึ่งพาสิ่งต่างๆ รอบตจัวมาประดับไว้
        เพื่อที่จะได้รู้สึกว่าตัวเราเองเป็นคนที่มั่นคงจะไม่ล้มเหลวอีกต่อไป
        หากคุณถามหาความมั่นคงมากเท่าไหร่ มันก็ยิ่งจะเดินหายไปจากคุณ
        ซ้ำร้ายอาจจะมีแต่ความล้มเหลวเข้ามาแทนที่ก็เป็นได้ ความมั่นคงอาจเพียงแค่แวะมาทักทายคุณ
        เป็นครั้งคราวเท่านั้น หากคุณถามหาความมั่งคั่ง คุณก็จะตั้งเป้าหมายไว้สูง
        แต่ถ้าไม่สามารถบรรลุเป้าหมายได้ ความล้มเหลวก็จะเข้ามาทักทายคุณได้
        แต่ความล้มเหลวที่เข้ามานั้นก็ยังสูงกว่าหรือเทียบเท่ากับความมั่นคง
        ของคนที่ไม่เคยคิดถึงความมั่งคั่งมาก่อนเลย
        หากคุณกลัวที่จะไม่ประสบความสำเร็จนั้นมันเป็นในลักษณะเชิงบวก
        คือ การที่คุณพยายามคิดว่าจะทำอย่างไรให้ประสบความสำเร็จ หากคุณวางเป้าหมายไว้ที่เลข 10
        แต่คุณทำได้แค่ 2 เท่านั้นก็ไม่ได้หมายความว่าคุณจะล้มเหลว คุณกลับพัฒนาตัวเองให้ก้าวหน้าไป
        2 ขั้น นี่คือเหตุผลหนึ่งที่ผมสนับสนุนให้คุณกล้าที่จะวางเป้าหมายสำหรับอนาคตอย่างท้าทาย
        ไม่ใช่กลัวแต่จะล้มเหลว ก็เลยไม่เคยคิดถึงเรื่องอนาคตเลย โดยหมกหมุ่นอยู่กับเรื่องอดีตที่ผ่านมา
        แล้วนำมาใช้เป็นเกณฑ์ในการตัดสินใจ จึงทำให้ไม่เกิดความก้าวหน้า มีแต่ทรงกับทรุดต่อไป
    </p>
    <p>
        <h2 class="text-center text-danger">ความคิดสร้างสรรค์:ปัจจัยแห่งความสำเร็จ</h2>
        การจะประสบความสำเร็จใจชีวิตและการงานได้นั้น จำต้องมีกุศโลบายที่ดีพอสมควร
        เหมือนการสงคราม ถ้าประสงค์จะรบชนะ ก็ต้องมียุทธศาสตร์ในการรบที่ดี
        ถ้ารบโดยไม่มียุทธศาสตร์ก็จะขาดยุทธวิธี ไม่รู้เขา ไม่รู้เรา รบร้อยครั้งก็ร้อยพ่าย
        ตรงกันข้าม ถ้า "รู้เขา รู้เรา รบร้อยครั้งก็ชนะร้อยคราว" ยุทธศาสตร์แห่งการประสบความสำเร็จ
        ที่พระพุทธองค์ทรงวางไว้ ประกอบด้วยปัจจัยสำคัญ 4 ประการ คือ ความรัก ความเพียร
        ความจับไม่ปล่อย ความคิดสร้างสรรค์... ความคิดสร้างสรรค์ คือ การรู้จักใช้ความคิดอย่างสุขุมโดยผ่านการวิจัย
        วิเคราะห์ สังเคราะห์ จนเกิดความคิดใหม่ มุมมองใหม่ หรือองค์ความรู้อย่างใหม่ขึ้นมา
        ศาสดา กวี นักเขียน ศิลปิน นักวิทยาศาสตร์ หรือนักประดิษฐ์ นักธุรกิจ
        รวมทั้งรัฐบุรุษชื่อดังของโลกเป็นอันมาก นับเป็นกลุ่มบุคคลที่มีความคิดสร้างสรรค์โดดเด่น
        มากกว่ากลุ่มบุคคลอื่น ตัวอย่างหนึ่งที่ชัดเจนมากของความคิดสร้างสรรค์ก็คือ
        เรื่องราวของนักโทษสองคนที่ถูกคุมขังอยู่ในเรือนจำกลางน้ำ ตอนเกิดสงครามเวียดนาม
        นักโทษคนหนึ่งมองลงข้างล่างก็เห็นแต่น้ำครำ เน่าเหม็น รอบตัวก็มีแต่ป่าดงพงพฤกษ์
        จึงได้แต่ทอดอาลัยรอวันตายไปวัีนๆ ในขณะที่นักโทษอีกคนหนึ่งมีความคิดสร้างสรรค์
        มองลงข้างล่างนอกจากเห็นน้ำครำแล้ว เขายังเห็นดวงดาวในน้ำเน่านั้นด้วย
        จึงทำให้เขาเกิดความเชื่อมั่นว่า ในวิกฤติย่อมมีโอกาส ในที่สุดเขาจึงมีกำลังใจอยู่สู้ชีวิต
        และหรอดรอดออกมาจากเรือนจำนรกนั้นได้ในเวลาไม่นาน ส่วนเพื่อนอีกคนที่ถอดใจ
        ก็ยังคงนอนรอความตายอยู่ในเรือนจำนั้นโดยดุษณี เหตุการณ์ตอนนี้มีผู้ถอดความเป็นกวีนิพนธ์ว่า
        <p align="center">
     "สองคนยลตามช่อง <br>
     คนหนึ่งมองเห็นโคลนตม <br>
     อีกคนตาแหลมคม <br>
     มองเห็นดาวอยู่พราวพราย" <br>
        </p>

        ความคิดสร้างสรรค์หรือการรู้จักมองมุมใหม่ที่คนทั่วไปไม่มองจนค้นพบทางออกจากปัญหา
        หรือเกิดปัญญาใหม่ ความรู้ใหม่ ไม่ใช่พรสวรรค์จำเพาะบุคคลที่เลียนแบบไม่ได้
        หากแต่เป็นคุณสมบัติที่สามารถฝึกให้เกิดขึ้นได้โดยใช้วิธีง่ายๆ เหมือนที่นักวิทยาศาสตร์
        และนักปรัชญาทั่วโลกชอบใช้กัน กล่าวคือ การปลูกฝังลักษณะนิสัยแห่งความเป็น
        คนช่างสงสัยให้จำหลักอยู่ในเรือนใจของตัวเองเอาไว้เสมอ <br>
        พระพุทธเจ้าของเราก็ทรงประสบความสำเร็จเพราะความเป็นบุคคลช่างสงสัยเช่นกัน
        เพราะหากทอดพระเนตรคนแก่ คนเจ็บ คนตาย และสมณะแล้ว ไม่ทรงเริ่มต้นด้วยการตั้งคำถามว่า
        "ทำไมต้องแก่ เจ็บ ตาย และทำไมต้องบวช" แล้วละก็ เส้นทางแห่งการแสวงหา
        โพธิปัญญาของพระองค์ก็คงไม่ทอดยาวไปข้างหน้าอย่างแน่อน <br>
        แต่เพราะทรงตั้งคำถามกับสิ่งที่พบเห็นอยู่เสมอ ในที่สุดก็ทรงค้นพบความจริงอันเป็นสัจธรรม
        ขั้นสูงสุดของชีวิตมนุษย์ ที่เราเรียกว่า อริยสัจ 4 และพัฒนาต่อมาเป็นพระพุทธศาสนา
        ที่มีคนนับถือแพร่หลายไปทั่วโลกอย่างทุกวันนี้ <br>

    </div>
        <br>
    <p align="right">
        ขอบคุณครับ <br>
        {{ Name }}
        <br><br>
    </p>

</body>
</html>
