{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br><br><br>

    <div class="row">
        <div class="col col-4 "> </div>
        <div class="col col-4 bg-secondary">
            <br>
            <form method="POST" class="form-control">
                <h1 class="text-center">Reset Password</h1>
                {% csrf_token %}
                {{ form.as_table }}
                <br>
                <p class="text-center">
                     <button type="button" class="btn btn-secondary" onclick="history.back()">
                         <i class="fa fa-rotate-back"></i> Back
                    </button>
                    <button type="submit" class="btn btn-lg btn-outline-danger">
                         <i class="fa-solid fa-key"></i> Reset
                    </button> <br> <br>
                    {%  if messages|length > 0 %}
                        <tr>
                            <td colspan="2" class="text-center">
                                {% for message in messages %}
                                    <b class="text-danger"> {{ message | safe }} </b>
                                {% endfor %}
                            </td>
                        </tr>
                    {%  endif %}
                </p>
            </form>
        </div>
        <div class="col col-4"> <br> </div>
    </div>
{% endblock %}